# Install in /usr/lib/systemd/system
[Unit]
Description=justIN httpd container
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStop=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStart=/usr/sbin/justin-docker-wrapper justin-httpd

[Install]
WantedBy=multi-user.target
