# Install in /usr/lib/systemd/system
[Unit]
Description=justIN httpd container
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/justin-environmentfile
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n --privileged \
  --volume /etc/grid-security:/etc/grid-security \
  --volume /etc/letsencrypt:/etc/letsencrypt \
  --volume /var/log/httpd:/var/log/httpd \
  --volume /var/run/justin:/var/run/justin \
  --volume /etc/justin.conf:/etc/justin.conf \
  --publish  80:80  \
  --publish 443:443 \
  justin:${justinVersion} \
  /usr/sbin/start-justin-httpd

[Install]
WantedBy=multi-user.target
