# Install in /usr/lib/systemd/system
[Unit]
Description=justIN Finder daemon
Documentation=man:justin-finder(8)

[Service]
Type=forking
PIDFile=/var/run/justin/finder.pid
ExecStart=/usr/sbin/justin-finder

[Install]
#WantedBy=multi-user.target
