# Install in /usr/lib/systemd/system
[Unit]
Description=justIN Job Factory 
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n --privileged \
  --volume /etc/grid-security:/etc/grid-security \
  --volume /var/log/justin:/var/log/justin \
  --volume /var/run/justin:/var/run/justin \
  --volume /etc/justin.conf:/etc/justin.conf \
  justin:00.13.xx \
  /usr/sbin/start-justin-job-factory

[Install]
WantedBy=multi-user.target
 