# Install in /usr/lib/systemd/system
[Unit]
Description=justIN Finder for FNAL
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/justin-environmentfile
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n --privileged \
  --volume /etc/justin-secrets:/etc/justin-secrets \
  --volume /var/log/justin:/var/log/justin \
  --volume /var/run/justin:/var/run/justin \
  --volume /etc/justin.conf:/etc/justin.conf \
  justin:${justinVersion} \
  /usr/sbin/start-justin-finder-fnal

[Install]
WantedBy=multi-user.target
