# Install in /usr/lib/systemd/system
[Unit]
Description=justIn Job Factory daemon
Documentation=man:justin-job-factory(8)

[Service]
Type=forking
PIDFile=/var/run/justin/job-factory.pid
ExecStart=/usr/sbin/justin-job-factory

[Install]
#WantedBy=multi-user.target
