# Install in /usr/lib/systemd/system
[Unit]
Description=WFS Finder for FNAL daemon
Documentation=man:wfs-finder-fnal(8)

[Service]
Type=forking
PIDFile=/var/run/wfs/finder-fnal.pid
ExecStart=/usr/sbin/wfs-finder-fnal

[Install]
#WantedBy=multi-user.target
