# Install in /usr/lib/systemd/system
[Unit]
Description=WFS Finder daemon
Documentation=man:wfs-finder(8)

[Service]
Type=forking
PIDFile=/var/run/wfs/finder.pid
ExecStart=/usr/sbin/wfs-finder

[Install]
#WantedBy=multi-user.target
