# Install in /usr/lib/systemd/system
[Unit]
Description=WFS Stage Cache daemon
Documentation=man:wfs-stage-cache(8)

[Service]
Type=forking
PIDFile=/var/run/wfs/stage-cache.pid
ExecStart=/usr/sbin/wfs-stage-cache

[Install]
#WantedBy=multi-user.target
